/* Styles de base */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Styles pour le header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.header-buttons {
  display: flex;
}

.btn {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #555;
  color: #fff;
  cursor: pointer;
}

/* Styles pour le footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  margin: 0;
}

.social-links img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

/* Styles pour la mise en page générale */
.wrapper {
  min-height: calc(100% - 120px); /* La hauteur du header + footer */
  margin-bottom: -120px; /* La hauteur du header + footer */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Styles pour les produits */
#products-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.product img {
  width: 100%;
}

.product h2 {
  margin: 0;
}

.product p {
  margin: 0;
  color: #888;
}

.product button {
  display: block;
  margin-top: 10px;
}

/* Styles pour le bouton devis perso */
.custom-quote-button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
}

.custom-quote-button:hover {
  background-color: #333;
}

/* Styles pour le carrousel */
.carousel {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: opacity 0.3s;
}

.carousel-image:hover {
  opacity: 0.7;
}

.carousel-controls {
  margin-top: 10px;
  text-align: center;
}

.carousel-controls button {
  background: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  padding: 0;
  margin: 0 10px;
}



/* Styles pour la version mobile */
@media (max-width: 600px) {
  .header-buttons {
    flex-direction: column;
  }
  
  .btn {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .social-links img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }
}
